// Colors
$background-color: #FFB649;
//$background-color: #FFCF5A;
$accent-color: #F9D6CE;
$text-color: #0D0D0D;
$button-color: white;

// Font 
$font-title: "Syne", serif;
$font-text: "Roboto", sans-serif;

// Font Size
$font-xl: 6em;
$font-l: 4em;
$font-m: 2em;
$font-s: 1em;

