// Colors
$primary-color: #F2D6D0;
//$secondary-color: #F9D6CE;
$secondary-color: #EE439E;
$background-color: #FFB649;
$text-color: #0D0D0D;

//Font 
$font-title: "Syne", serif;
$font-text: "Roboto", sans-serif;
