// C'est ici qu'on écrit le css pour la page index

body {
  background-color: $background-color;
  font-family: $font-title;
  color: $text-color;
  height: 100vh;
}
h1,
h2,
h3,
p {
  margin: 0;
}

// a mettre dans typo
.test-container {

  
  .titre-test {
    width: fit-content;
    font-size: 4rem;
    background: white;
    border: 10px solid $accent-color;
  }
}
